@charset "utf-8";

@media (max-width: 799px) {

    body {
        margin: 0;
    }

    canvas {
        display: block;
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(39, 40, 77);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: 0;
    }

    /*text*/
    #particles-js>h1 {
        font-size: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-top: 22%;
        color: #fff;
        letter-spacing: 10px;
        font-family: 'Oswald', sans-serif;
    }

    .typing-txt {
        display: none;
    }

    .typeing-txt ul {
        list-style: none;
    }

    .typing {
        display: inline-block;
        animation-name: cursor;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
        color: #fff;
        font-size: 10px;
        font-family: 'Oswald', sans-serif;
        z-index: 3;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 10px;
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
    }

    @keyframes cursor {
        0% {
            border-right: 1px solid #fff
        }

        50% {
            border-right: 1px solid #000
        }

        100% {
            border-right: 1px solid #fff
        }
    }

    body {
        margin: 0;
    }

    #fullpage .section-01 {
        width: 100%;
        margin: 0 auto;
    }

    #fullpage .section-02 {
        width: 90%;
        margin: 0 auto;
    }

    #fullpage .section-03 {
        width: 90%;
        margin: 0 auto;
    }

    #fullpage .section-04 {
        width: 90%;
        margin: 0 auto;
    }

    #fullpage .section-05 {
        width: 90%;
        margin: 0 auto;
    }

    #fullpage .section-06 {
        width: 90%;
        margin: 0 auto;
    }

    #menu {
        position: fixed;
        z-index: 2;
    }

    header {
        width: 100%;
        height: 100vh;
        background-color: #ddd;
    }

    aside {
        position: fixed;
        top: 30%;
        left: 100%;
        transform: translateX(-100%);
        z-index: 3;
    }

    /*side_nav*/
    .side_nav>li {
        width: 70px;
        height: 57px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin: 5px 0;
        background-color: aliceblue;
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
    }

    .side_nav>li>a {
        color: #000;
    }

    .side_nav>li>a>i {
        font-size: 25px;
        margin: 0 0 1px 0;
        display: flex;
        flex-direction: column;
        color: rgb(39, 40, 77);
    }


    .section section-02 {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    .prowrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .pro_text {
        width: 330px;
        height: 100vh;
    }

    .pro_text>h1 {
        font-size: 33px;
        margin: 20px 0 18px 0px;
    }

    .pro_text>h2 {
        font-size: 24px;
        margin: 7px 0px;
    }

    .pro_text>h4 {
        font-size: 18px;
    }

    .pro_text>h5 {
        font-size: 15px;
        margin: 20px 0 0 0px;
    }

    .pro_text>p {
        font-size: 12px;
        margin: 0 0 15px 0px;
        width: 330px;
        letter-spacing: 1px;
        line-height: 150%;
    }

    .pro_text>ul {
        display: flex;
        margin: 10px 0 15px 0;
    }

    .pro_text>ul>li {
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin: 0 10px 0 0;
    }

    /*point color*/
    .first>li:first-child {
        background-color: #f2ece0;
    }

    .first>li:nth-child(2) {
        background-color: #a1785c;
    }

    .first>li:last-child {
        background-color: #c1e9e9;
    }

    .second>li:first-child {
        background-color: #fd226a;
    }

    .second>li:nth-child(2) {
        background-color: #7c529c;
    }

    .second>li:last-child {
        background-color: #13111f;
    }

    .third>li:first-child {
        background-color: #0064ff;
    }

    .third>li:nth-child(2) {
        background-color: #000;
    }

    .third>li:last-child {
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .fourth>li:first-child {
        background-color: #dacec2;
    }

    .fourth>li:nth-child(2) {
        background-color: #fe8340;
    }

    .fourth>li:last-child {
        background-color: #293d31;
    }


    /*button*/
    .pro_text>button {
        width: 110px;
        height: 32px;
        color: #666;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: #eee;
        border: none;
        cursor: pointer;
    }

    .pro_text>.btn1 {
        background-color: #a1785c;
        color: #fff;
    }

    .pro_text>.btn1:hover {
        background-color: #c1e9e9;
        color: #000;
    }

    .pro_text>.btn2 {
        background-color: #7c529c;
        color: #fff;
    }

    .pro_text>.btn2:hover {
        background-color: #fd226a;
        color: #000;
    }

    .pro_text>.btn3 {
        background-color: #0064ff;
        color: #fff;
    }

    .pro_text>.btn3:hover {
        background-color: #ddd;
        color: #000;
    }

    .pro_text>.btn4 {
        background-color: #293d31;
        color: #fff;
    }

    .pro_text>.btn4:hover {
        background-color: #fe8340;
        color: #000;
    }


    .phonebox {
        width: 230px;
        height: 485px;
        border: 3px solid #000;
        border-radius: 27px;
        overflow: hidden;
        position: absolute;
        bottom: 8%;
        right: 45%;
        background-size: contain;
        margin: 0 auto;
        margin: 0px 90px;
        z-index: 2;
        display: none;
    }

    .phonebox>img {
        width: 100%;
        object-fit: contain;
    }

    .webpage {
        width: 90%;
        height: 100vh;
        overflow: hidden;
    }

    .web_img {
        width: 100%;
    }

    .web_img img {
        width: 100%;
        height: 100%;
    }


    /*section-06*/
    #fullpage>.section-06 {
        width: 100%;
        margin: 0 auto;
        position: relative;
        background-color: rgb(39, 40, 77);
    }

    .about_me_area {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }

    .picture {
        margin-right: 5%;
    }

    .sub_text {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-left: 3%;
    }

    .sub_text h3 {
        font-size: 30px;
        color: #000;
        margin-bottom: 20px;
    }

    .about_me {
        width: 100%;
    }

    .profile {
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
    }

    .profile table tr th {
        text-align: left;
        margin-right: 2%;
        width: 30%;
    }

    .profile table tr {
        line-height: 40px;
    }

    .profile table tr td {
        line-height: 40px;
    }

    .history {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-left: 5%;
    }

    .history table tr {
        text-align: left;
    }

    .history table tr th {
        width: 30%;
        text-align: left;
    }

    .section-06 .profile_wrap {
        width: 1340px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*이력서*/
    .section-06 .resume {
        width: 90%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        margin-left: 4.7%;
    }

    .section-06 .resume h1 {
        width: 100%;
        font-size: 40px;
        margin-bottom: 18%;
        font-weight: 400;
        color: #fff;
        letter-spacing: -0.5px;
    }

    .section-06 .resume h1 em {
        font-style: normal;
        font-weight: 900;
    }

    .section-06 .graph {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .section-06 .graph_line {
        width: 90%;
    }

    .section-06 .graph_line img {
        width: 100%;
    }

    .section-06 .career {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-bottom: 6.5%;
        padding-right: 5%;

    }

    .section-06 .career h3 {
        width: 100%;
        color: #fff;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        margin-bottom: 6px;
    }

    .section-06 .career p {
        color: #fff;
        font-size: 14px;
        font-weight: 200;
    }

    .section-06 .career p span {
        color: #fff;
        font-size: 12px;
        font-weight: 200;
        line-height: 180%;
    }


    /*프로필*/
    .section-06 .profile {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6%;
    }

    .section-06 .myphoto {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .section-06 .profileimg {
        width: 150px;
        margin-left: 4.7%;
    }

    .section-06 .profileimg img {
        width: 100%;
    }

    .section-06 .profiletxt {
        margin-left: 5%;
        height: 160px;
    }

    .section-06 .profiletxt h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        color: #fff;
    }

    .section-06 .profiletxt h3 em {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
    }

    .section-06 .profiletxt table {
        font-size: 13px;
        text-align: left;
        letter-spacing: 0.5px;
        line-height: 180%;
        margin-bottom: 90px;
        color: #fff;
        margin-top: 3%;
    }

    .section-06 .profiletxt table th {
        width: 92px;
        vertical-align: top;
        font-weight: 400;
    }

    .section-06 .profiletxt table td {
        font-weight: 200;
    }

    .section-06 .profiletxt h5 {
        font-size: 13px;
        font-weight: 300;
        color: #fbb03b;
    }

    .section-06 .profiletxt h5 em {
        font-weight: 600;
        font-style: normal;
    }

    .section-06 .profiletxt p {
        font-size: 12px;
        font-weight: 200;
        color: #999;
        letter-spacing: -0.5px;
    }
}