@charset "utf-8";
#wrap{
    width:100%; 
    height: auto; 
    margin:0 auto;
}

/****HEADER****/
header {
    width:100%; 
    height:auto; 
    background-color:#fff;
}
#upper_nav {
    width:100%; 
    height:40px;
}
.upper_nav_center {
    width: 1170px; 
    height: 40px; 
    margin:0 auto; 
    display: flex;
}
.sort {
    width: 70%; 
    display: flex; 
    padding:12px 12px 12px 5px;
}
.sort > li > a {
    font-size: 14px; 
    color: rgb(120, 120, 120); 
    font-weight: bold; 
    line-height: 18px; 
    text-align: center; 
    letter-spacing: -0.01em; 
    padding:12px 12px 12px 0px;
}
.sort > li:nth-child(2) {
    padding-right: 12px;
}
.sort > li:nth-child(4) {
    padding-right: 12px;
}
.sort > li:last-child {
    padding-left: 12px;
}
.login {
    width: 30%; 
    display: flex; 
    justify-content: end; 
    padding:10px 5px 12px 12px;
}
.login > li:first-child {
    padding-right: 12px;
}
.login > li > a {
    font-size: 13px; 
    color: rgb(120, 120, 120); 
    font-weight: bold; 
    line-height: 18px; 
    text-align: center; 
    letter-spacing: -0.01em; 
    padding: 12px 0px 12px 10px;
}
#lower_nav {
    width: 1170px; 
    height: 132px; 
    margin: 0 auto; 
    display: flex;
}
.title_box {
    width: 55%; 
    height: 132px; 
    display: flex; 
    flex-direction: column;
}
.logo {
    width: 50%; 
    height: auto;
}
.logo > img {
    width: 57%; 
    height: 80%; 
    padding-top: 10px;
}
.title {
    width: 55%; 
    height: 60px;
}
.title > h1 {
    color: #0064ff; 
    padding-top: 13px; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 39px; 
    letter-spacing: -0.01em;
}
.category_box {
    width: 70%; 
    height: 132px;
}
.mypage {
    width: 100%; 
    height: 72px; 
    display: flex; 
    justify-content: space-around;
}
.ball_icon {
    display: flex; 
    align-items: center;
}
.ball_icon > li {
    padding: 7px 0px 5px 15px;
}
.ball_icon > li > img {
    width: 38px; 
    height: auto; 
}
.search {
    width: 100%; 
    height: 72px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    box-sizing: border-box;
    position: relative;
}
.search > a > img {
    width: 9%; 
    margin-left: 30px; 
    position: absolute; 
    top: 28.5%; 
    left: 35.5%;
    z-index: 5;
}
input {
    width: 60%; 
    height: 40px; 
    background: #f0f0f0; 
    border: none; 
    padding: 0 40px; 
    position: relative; 
    border-radius: 8px; 
    z-index: 1;
}
.category {
    width: 100%; 
    height: 60px; 
    display: flex;
}
.category > a {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}
.category > a > img {
    width: 4%;
}
.category_text {
    font-size: 14px; 
    font-weight: 600; 
    line-height: 17px; 
    letter-spacing: -0.02em; 
    color: #141414; 
    padding-left: 10px;
}
#bottom_nav {
    width: 1170px; 
    height:60px; 
    font-size: 1.6px;
    margin: 0 auto;
}
#bottom_nav > ul >li {
    margin: 10px 30px 0 0px; 
    float: left; 
    color: #141414;
}
#bottom_nav > ul > li > a {
    color: #141414; 
    font-weight: 800; 
    font-size: 16px;
}
#bottom_nav > ul > li:first-of-type {
    width: 50px; 
    height: auto; 
    display: inline-block; 
    background-color: #0064ff; 
    border-radius: 40px; 
    text-align: center; 
    line-height: 30px; 
    margin: 5px 15px 0px 0;
}

/*footer*/
footer {
    width: 100%; 
    margin-top: 4.5%; 
    border-top: 1px solid #f0f0f0; 
}
.footer_upper {
    width: 1170px; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: row; 
    margin-top: 2.5%;
}
.footer_upper_cs {
    width:234px;
}
.cs_content {
    width: 234px; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    margin-bottom: 10px;
}
.cs_content img {
    width: 12%;
}
.cs_content span {
    font-size: 13px; 
    color: #787878;
}
.footer_upper_about {
    width:702px;
}
.footer_upper_about > ul {
    display: flex; 
    flex-direction: row;
}
.footer_upper_about > ul > li {
    margin-right: 13%; 
    font-size: 13px; 
    color: #787878; 
    font-weight: 700; 
    line-height: 16px;
}
.footer_upper_about > ul > li > h3 {
    padding: 6px 0 4px 0px; 
    font-size: 13px;
}
.footer_upper_about > ul > li > ul > li {
    padding: 6px 0px;
}
.footer_upper_about > ul > li a {
    font-size: 13px; 
    color: #787878; 
    font-weight: lighter;
}
.footer_upper_sns {
    width:234px;
}
.footer_upper_sns > ul {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end;
}
.footer_upper_sns > ul > li {
    width: 60px; 
}
.footer_upper_sns > ul > li img {
    width: 80%;
}
.footer_lower {
    width: 1170px; 
    margin: 0 auto; 
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer_lower_about {
    width: 20%;
    display: flex;
}
.footer_lower_about > h5 {
    font-size: 12px; 
    color: #787878; 
    padding: 10px 0px;
}
.footer_lower_about > img {
    width: 3%;
    height: 5%;
    margin: 14.5px 0px 0px 2.5px;
}
.about_content {
    display: flex;
}
.about_box {
    display: flex; 
    flex-direction: row; 
    display: none;
}
.about_box > dt {
    font-size: 11px; 
    color: #787878;
}
.about_box > dd {
    font-size: 11px; 
    color: #787878;
}
.footer_lower_info > ul {
    display: flex; 
    flex-direction: row; 
    padding: 4px 0px;
}
.footer_lower_info > ul > li {
    font-size: 11px;
    margin-right: 5px;
    color: #eee;
}
.footer_lower_info > ul > li > a {
    color: #787878;
    padding-top: 1px;
}
.footer_lower_info > p {
    font-size: 11px; 
    color: #787878;
}