.slider {
    background-image: url("../img/sub_slider.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}
section {
    .art {
        width: 100%;
        background-color: #18082F;
        .art_box {
            width: 1150px;
            margin: 0 auto;
            overflow: hidden;
            .art_title {
                text-align: center;
                padding: 2.8% 0% 4% 0%;
                h1 {
                    color: #fff;
                    font-size: 40px;
                    line-height: 80px;
                }
                h4 {
                    line-height: 80px;
                    color: #fff;
                }
            }
            .art_photo_box {
                display: flex;
                .art_img {
                    width: 45%;
                    height: 400px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .art_text {
                    width: 55%;
                    float: right;
                    h3 {
                        padding-left: 50px;
                        font-size: 28px;
                        color: #fff;
                    }
                    p {
                        padding: 50px 0px 55px 50px;
                        color: #fff;
                        font-size: 16px;
                    }
                    img {
                        padding-left: 50px;
                    }
                }
                
            }
            .art_photo_box2 {
                display: flex;
                .art_img {
                    width: 45%;
                    height: 400px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .art_text {
                    width: 55%;
                    float: right;
                    h3 {
                        padding-left: 50px;
                        font-size: 28px;
                        color: #fff;
                    }
                    p {
                        padding: 50px 0px 55px 50px;
                        color: #fff;
                        font-size: 16px;
                    }
                    img {
                        padding-left: 50px;
                    }
                }
                
            }
        }
    }
    .show {
        width: 100%;
        background-color: #18082F;
        .show_box {
            width: 1150px;
            height: 950px;
            margin: 0 auto;
            h1 {
                color: #fff;
                text-align: center;
                font-size: 40px;
                line-height: 100px;
                padding-top: 100px;
            }
            h4 {
                padding-bottom: 80px;
                text-align: center;
                color: #fff;
            }
            table {
                width: 100%;
                height: 500px;
                tr {
                    cursor: pointer;
                    th {
                        color: #fff;
                        border-bottom: 1px solid #fff;
                        text-align: center;
                    }
                    td {
                        text-align: center;
                        color: #fff;
                        border-bottom: 1px solid #fff;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                        button {
                            width: 140px;
                            height: 50px;
                            border-radius: 40px;
                            color: #fff;
                            font-weight: bold;
                            border: 2px solid #fff;
                            cursor: pointer;
                            background: linear-gradient(135deg,#3a0766,#bd1779);
                        }
                    }
                    td:nth-child(3) {
                        text-align: left;
                    }
                }
                tr:hover {
                    background-color:rgba(255, 255, 255, 0.1);
                }
            }
        }
    }


    .band {
        width: 1150px;
        height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        .band_box {
            width: 31%;
            height: 60%;
            background-size: cover;
            cursor: pointer;
            .band_text {
                width: 100%;
                height: 30%;
                background-color: rgba(0, 0, 0, 0.8);
                margin-top: 210px;
                color: #fff;
                h4 {
                    padding: 15px 0px 15px 20px;
                    font-weight: 600;
                }
                p {
                    padding-left: 20px;
                }
                i {
                    font-size: 55px;
                    position: relative;
                    bottom: 55px;
                    left: 310px;
                }
            }
            .band_text:hover {
                background-color:#bd1778;
            }
        }
        .band_box:hover {
            transform: scale(1.1);
        }
        .band_box:nth-child(1) {
            background-image: url("../img/band1.jpg");
        }
        .band_box:nth-child(2) {
            background-image: url("../img/band2.jpg");
        }
        .band_box:nth-child(3) {
            background-image: url("../img/band3.jpg");
        }
    }

    .play {
        width: 100%;
        height: 1900px;
        background-image: url("../img/play_back.jpg");
        background-size: cover;
        background-position: bottom;
        .playing {
            width: 1150px;
            margin: 0 auto;
            .playing_box {
                width: 85%;
                margin: 0 auto;
                display: flex;
                position: relative;
                top: 470px;
                .play_img_box {
                    width: 45%;
                    height: 560px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .playing_table_box {
                    width: 55%;
                    height: 560px;
                    background-color: #27203F;
                    p {
                        font-size: 15px;
                        color: #fff;
                        padding: 20px 0px 10px 20px;
                    }
                    h5 {
                        font-size: 17px;
                        color: #fff;
                        padding-left: 20px;
                    }
                    button {
                        width: 160px;
                        padding: 10.5px 0px;
                        background: linear-gradient(135deg, #3a0766, #bd1779);
                        border: none;
                        color: #fff;
                        position: relative;
                        left: 400px;
                        bottom: 40px;
                        cursor: pointer;
                    }
                    table {
                        width: 100%;
                        height: 55%;
                        color: gray;
                        cursor: pointer;
                        tr:hover {
                            opacity: 0.5;
                        }
                        td:nth-child(1) {
                            text-align: right;
                            i {
                                color: #bd1778;
                                text-align: right;
                            }
                        }
                        td:nth-child(2) {
                            padding-left: 20px;
                        }
                        td:nth-child(3) {
                            padding-right: 10px;
                            color: #fff;
                        }
                    }
                    .drop {
                        width: 100%;
                        height: 105px;
                        background-color: #1C1632;
                        margin-top: 38px;
                        i {
                            color: #fff;
                            position: relative;
                            left: 270px;
                            bottom: 50px;
                            font-size: 55px;
                            cursor: pointer;
                        }
                        i:hover {
                            color: #bd1779;
                        }
                        span {
                            color: #fff;
                            font-size: 15px;
                            position: relative;
                            left: 436px;
                            bottom: 63px;
                        }
                    }
                }
            }
        }
        .music {
            width: 1150px;
            height: 500px;
            margin: 0 auto;
            position: relative;
            top: 640px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .search_box {
                width: 40%;
                height: 85%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    color: #fff;
                    font-size: 50px;
                }
                p {
                    color: #fff;
                    font-size: 30px;
                }
            }
            .search_box:nth-child(1) {
                background-image: url("../img/play_music.jpg");
            }
            .search_box:nth-child(1):hover {
                background:rgba(189, 23, 120, 0.5);
            }
            .search_box:nth-child(2) {
                background-image: url("../img/play_artist.jpg");
            }
            .search_box:nth-child(2):hover {
                background:rgba(189, 23, 120, 0.5);
            }
        }
    }
}