@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: gray;
}

header {
    background-color: #fff;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .btn2 {
    margin-top: 0;
}

.header-right i {
    color: rgb(60, 105, 194);
}

.header-right p {
    margin-right: 30px;
}

.xi-bars {
    display: none;
}

/* nav */
nav {
    background-color: rgb(60, 105, 194);
}

nav .inner {
    padding: 0;
}

.gnb {
    display: flex;
}

.gnb > li {
    position: relative;
}

.gnb > li:hover .gnb_list {
    background-color: rgb(94, 134, 212);
    opacity: 0.6;
    border-top: 5px solid rgb(143, 167, 216);
}

.gnb > li.home .gnb_list {
    background-color: rgb(94, 134, 212);
    opacity: 0.6;
    border-top: 5px solid rgb(143, 167, 216);
}

.gnb_list {
    display: inline-block;
    color: #fff;
    padding: 20px;
    border-top: 5px solid #32659c;
}

.submenu {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    display: none;
}

.submenu > li {
    padding: 10px;
}

.submenu li:hover {
    background-color: pink;
}

.submenu li a {
    color: rgb(60, 105, 194);
}

.snslist {
    display: flex;
}

.snslist li {
    margin-left: 20px;
}

.snslist i {
    color: #fff;
}

.snslist i:hover {
    color: rgb(71, 124, 231);
}

/* swiper */
.swiper {
    height: 500px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
}

.swiper-wrapper .swiper-slide,
swiper-slide {
    display: flex;
}

.slide1 {
    background-image: url('../img/slide1.webp');
}

.slide2 {
    background-image: url('../img/slide2.webp');
}

.slide3 {
    background-image: url('../img/slide3.webp');
}

.slide4 {
    background-image: url('../img/slide4.webp');
}

.swiper h3 {
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
}

.swiper-slide-active h3 {
    animation: txtup 1s;
}

@keyframes txtup {
    0% {opacity: 0;transform: translateY(100px);}
}

.swiper h4 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
}

.swiper-slide-active h4 {
    animation: txtdown 1s;
}

@keyframes txtdown {
    0% {opacity: 0;transform: translateY(-100px);}
}

/* tab-section */
.tab-section {
    background-color: #fff;
}

.tab-section .inner {
    display: flex;
    align-items: center;
}

.left, .right {
    width: 50%;
}

.left img {
    max-width: 100%;
}

.right {
    padding-left: 40px;
}

.right h2 {
    text-align: left;
}

.tab-menu {
    display: flex;
    font-size: 1.5rem;
}

.tab-menu div {
    position: relative;
    border-bottom: 5px solid #ccc;
    padding-right: 30px;
    padding-bottom: 7px;
    font-weight: 600;
}

.tab-menu>div.select {
    color: rgb(60, 105, 194);
}

.tab-menu>div::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width:0;
    height: 5px;
    background-color: rgb(60, 105, 194);
    display: inline-block;
}

.tab-menu>div.select::after {
    width: 100%;
    transition: 1s;
}

.tab-contents>div {
    display: none;
    font-size: 1.2rem;
    padding-top: 20px;
    color: #555;
}

.tab-contents>div.show {
    display: block;
}

/* big_bg */
.big_bg {
    background-image: url('../img/universe.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    text-align: center;
}

.big_bg * {
    color: #fff;
}

.big_bg h2, .big_bg p {
    text-shadow: 0 0 15px rgb(31, 31, 66);
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(60, 105, 194);
    margin-top: 30px;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid rgb(60, 105, 194);
    color: rgb(60, 105, 194);
}

.btn2 {
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    margin-top: 30px;
    color: rgb(60, 105, 194);
    border: 1px solid rgb(60, 105, 194);
}

.btn2:hover {
    background-color: rgb(60, 105, 194);
    color: #fff;
}

.btn3 {
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    margin-top: 30px;
    color: #fff;
    border: 1px solid #fff;
}

.btn3:hover {
    background-color: #fff;
    color: rgb(60, 105, 194);
}

/* service */
.service {
    background-color: #fff;
}

.inner {
    max-width: 95%;
    width: 1200px;
    margin: 0 auto;
    padding: 70px 0px;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

.service ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;

}

.icon {
    border: 7px solid #eee;
    display: flex;
    padding: 25px;
    transition: box-shadow 0.3s;
}

.icon:hover {
    border: 7px solid #fff;
    box-shadow: 0 0 15px rgb(60, 105, 194);
}

.icon_box {
    margin-right: 15px;
}

.icon_box i {
    font-size: 2.5rem;
    color: rgb(60, 105, 194);
}

h4 {
    font-size: 1.3rem;
}

.txtbox p {
    font-size: 1rem;
    color: #aaa;
}


/* footer */
.footer_top {
    background-color: rgb(60, 105, 194);
    color: #fff;
}

.footer_top .inner {
    display: flex;
}

.footer_top .inner div {
    flex: 1;
}

.footer_top h4 {
    margin-bottom: 20px;
}

.footer_top i {
    margin-right: 7px;
    color: #fff;
}

.footer_top li {
    margin-bottom: 10px;
}

.footer_top a {
    color: #fff;
}

.footer_top dl {
    margin-bottom: 20px;
}

.footer_top dt {
    font-weight: 600;
    margin-bottom: 5px;
    max-width: 350px;
}

.footer_top dd {
    opacity: 0.6;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list li::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 3px;
}

/* footer bottom */
.footer_bottom {
    background-color: black;
    color: #fff;
}

.footer_bottom .inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer_bottom a {
    color: #fff;
}
